p {
    font-family: 'satoshi', sans-serif;
    color: #f5f4ef;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #616161;
    padding-bottom: 20px;
}

img{
    width: 30px;
    height: 30px;
}

img:hover{
    width: 30px;
    height: 30px;
    top: 15px;
    animation: 2s ease  animacao infinite alternate;
}

.imgs{
    display: flex;
    gap: 30px;
}

@keyframes animacao {
    from {
      transform: translate(+3px, -3px);
    }
  
    to {
      transform: translate(0, 0);
    }
  }