<div class="footer">
<p>Site desenvolvido por João Paulo Dourado | Todos os direitos reservados ©</p>
<div class="imgs">
    <span><img src="/assets/img/White icons/icons8-email-100.png" alt=""></span>
    <span><img src="/assets/img/White icons/icons8-github-48.png" alt=""></span>
    <span><img src="/assets/img/White icons/icons8-instagram-100.png" alt=""></span>
    <span><img src="/assets/img/White icons/icons8-whatsapp-100.png" alt=""></span>
    <span><img src="/assets/img/White icons/kisspng-github-pages-logo-repository-fork-github-logo-1-magentys-5b69de71b51265.8586076615336648817417.png" alt=""></span>
    <span><img src="/assets/img/White icons/linkedin-app-white-icon.png" alt=""></span>
</div>
</div>
