<div class="footer">
<p>Site desenvolvido por João Paulo Dourado | Todos os direitos reservados ©</p>
<div class="imgs">
    <a href="mailto:dourado178@gmail.com"><span><img src="/assets/img/White icons/icons8-email-100.png" alt=""></span></a>
    <a href="https://api.whatsapp.com/send?phone=5561985266522" target="_blank"><span><img src="/assets/img/White icons/icons8-whatsapp-100.png" alt=""></span></a>
    <a href="https://github.com/kirakman" target="_blank"><span><img src="/assets/img/White icons/kisspng-github-pages-logo-repository-fork-github-logo-1-magentys-5b69de71b51265.8586076615336648817417.png" alt=""></span></a>
    <a href="https://www.linkedin.com/in/jo%C3%A3o-paulo-dourado-ponce-nery-012951234/" target="_blank"><span><img src="/assets/img/White icons/linkedin-app-white-icon.png" alt=""></span></a>
</div>
</div>
