<div class="container">
    <div class="navbar">
        <div class="buttons">
            <button>Front End</button>
            <button>Back End</button>
            <button>Ferramentas</button>
        </div>
    </div>
    <div class="img-content-front">
        <div class="frontend">
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-angularjs-100.png" alt="angular"><p>AngularJs|Angular 16+</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-bootstrap-100.png" alt="bootstrap"><p>Bootstrap</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-html-5-100.png" alt="html"><p>HTML5</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-css-logo-100.png" alt="css"><p>CSS3</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-javascript-100.png" alt="js"><p>JavaScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-figma-100.png" alt="figma"><p>Figma</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-git-100.png" alt="git"><p>GIT</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-iônico-100.png" alt="ionic"><p>Ionic</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-reagir-120.png" alt="react"><p>React</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/primeng-logo.png" alt="ts"><p>PrimeNG</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
            <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
        </div>
</div>
