<div class="container">
<mat-stepper labelPosition="bottom" #stepper>
    <mat-step>
        <ng-template matStepLabel><button class="button">Front end</button></ng-template>
          <div class="img-content-front">
            <div class="frontend">
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-angularjs-100.png" alt="angular"><p>AngularJs | 16+</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-bootstrap-100.png" alt="bootstrap"><p>Bootstrap</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-html-5-100.png" alt="html"><p>HTML5</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-css-logo-100.png" alt="css"><p>CSS3</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-javascript-100.png" alt="js"><p>JavaScript</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-figma-100.png" alt="figma"><p>Figma</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-git-100.png" alt="git"><p>GIT</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-iônico-100.png" alt="ionic"><p>Ionic</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-reagir-120.png" alt="react"><p>React</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/primeng-logo.png" alt="ts"><p>PrimeNG</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/tailwind.png" alt="tailwind"><p>Tail Wind</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/styled-components.png" alt="styled-components"><p>Styled Components</p></div>
            </div>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><button class="button">Back end</button></ng-template>
        <div class="img-content-front">
            <div class="frontend">
                <div class="unit"><img src="/assets/img/Yellow Icons/back/icons8-c-afiado-logotipo-100.png" alt="C#"><p>C#</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/back/firebase.png" alt="Firebase"><p>Firebase</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/back/icons8-javascript-100.png" alt="JavaScript"><p>JavaScript</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/back/icons8-mysql-100.png" alt="MySql"><p>MySql</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/back/icons8-nó-js-128.png" alt="Node Js"><p>Node Js</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/front/icons8-texto-datilografado-100.png" alt="ts"><p>TypeScript</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/back/swagger.png" alt="Swagger"><p>Swagger</p></div>
            </div>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><button class="button">Ferramentas</button></ng-template>
        <div class="img-content-front">
            <div class="frontend">
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/eslint.png" alt="Eslint"><p>Eslint</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/icons8-git-100.png" alt="GIT"><p>GIT</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/icons8-github-100.png" alt="GITHUB"><p>GitHub</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/icons8-gitlab-100.png" alt="GitLab"><p>GitLab</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/icons8-noção-100.png" alt="NOTION"><p>Notion</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/icons8-trello-100.png" alt="Trello"><p>Trello</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/postman.png" alt="Postman"><p>Postman</p></div>
                <div class="unit"><img src="/assets/img/Yellow Icons/ferramentas/thunder client.png" alt="Thunder Client"><p>Thunder Client</p></div>
            </div>
          </div>
    </mat-step>
  </mat-stepper>
</div>
