.header{
    display: flex;
    align-items: center;
    color: #f5f4ef;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f5f4ef;
    width: 50%;
    margin: 0 auto;
}

p {
    letter-spacing: 4px;
    cursor: pointer;
    transition: 0.7s ease;
}

p:hover {
    color: #ffc736;
}

@media screen and (max-width: 500px){
    p, img{
        font-size: 6px;
        width: 10%;
        height: 10%;
        max-width: 10%;
        max-height: 10%;
        display: flex;
        align-items: center;
        color: #f5f4ef;
        justify-content: space-around;    
        padding: auto;
    }
  }



