<div class="header">
    <p>Início</p>
    <p>Quem sou eu?</p>
    <img src="https://upnow-prod.ff45e40d1a1c8f7e7de4e976d0c9e555.r2.cloudflarestorage.com/GpvqYzEzb8SyyeqHZzHLXcSkdd43/28cb8c31-e651-4ca6-b7e5-bafdfebba12b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=cdd12e35bbd220303957dc5603a4cc8e%2F20240217%2Fauto%2Fs3%2Faws4_request&X-Amz-Date=20240217T163539Z&X-Amz-Expires=43200&X-Amz-Signature=8ace43c779cd45b56f73b7590a0824ede688575e59fb2c66f34e9c19d3b4a836&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22new-logo.png%22" alt="">
    <p>Skills</p>
    <p>Projetos</p>
</div>