.header{
    display: flex;
    align-items: center;
    color: #f5f4ef;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f5f4ef;
    width: 50%;
    margin: 0 auto;
}

p {
    letter-spacing: 4px;
    cursor: pointer;
    transition: 0.7s ease;
}

p:hover {
    color: #ffc736;
}

@media screen and (max-width: 500px){
    .header {
        font-size: 8px;
        width: 100%;
        color: #f5f4ef;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    img {
        width: 49px;
        height: 44px;
    }
  }



