.container-bloco {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

img {
    border: 1px transparent solid;
    border-radius: 75px;
    width: 1280px;
    height: 720px;
}

.carrossel {
    padding-left: 270px;
    padding-right: 270px;
    border-right: 10px solid #ffc736;
    border-left: 10px solid #ffc736;
}

h1 {
font-size: 120px;
font-family: 'chromate', sans-serif;
color: #f5f4ef;
letter-spacing: 10px;
}

.carousel-caption {
    background-color: rgba(97, 97, 97, 0.8);
    border-radius: 20px;
    color: #f5f4ef;
    font-size: 16px;
    font-family: 'satoshi', sans-serif;
    letter-spacing: 1px;
}

.typewriter h1 {
    color: #f5f4ef;
    overflow: hidden; 
    border-right: .10em solid #ffc736; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    padding-top: 50px;
    padding-bottom: 60px;
    font-family: 'chromate', sans-serif;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffc736 }
}

@media screen and (max-width: 500px){
  h1{
    font-size: 40px;
}
  img {
    width: 320px;
    height: 220px;
    border: none;
    border-radius: 10px;
  }
  .carousel-caption{
    position:static;  
    margin-top: 35px; 
}
  .typewriter h1 {
    color: #f5f4ef;
    overflow: hidden; 
    border-right: .10em solid #ffc736; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'chromate', sans-serif;
  }
    
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffc736 }
}
.carrossel {
    border-right: none;
    border-left: none;
}
}