<div class="container-bloco">
    <div class="typewriter">
        <h1>Projetos</h1>
    </div>
    <br><br><br><br><br>
    <div class="projetos">
        <div *ngFor="let image of images">
            <a href="{{image.url}}" target="_blank"><img [src]="image.src" [alt]="image.alt" class="images-retângulo"></a>
            <div class="textos">
                <p class="titulo-img">{{image.captionTitle}}</p>
                <p>{{image.captionText}}</p>
            </div>
        </div>
    </div>
</div>
