<div class="container-bloco">
    <h1>Projetos</h1>
    <br><br><br>
    <ngb-carousel class="carrossel">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image.src" [alt]="image.alt" />
            </div>
            <div class="carousel-caption">
                <h3> {{ image.captionTitle }} </h3>
                <p> {{ image.captionText }} </p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
