.container-bloco {
    color: wheat;
    display: flex;
}

.left {
    width: 40%;
    max-width: 40%;
    text-align: center;
    border-left: 10px solid #ffc736;
    height: 500px;
}

.right {
    width: 60%;
    max-width: 60%;
    background-color: #3e3e3a;
    border: 1px #3e3e3a solid;
    border-radius: 100px 0px 0px 100px;
    height: 500px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 10px solid #616161;
}

.mensagem {
    display: none;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #f5f4f5;
    background-color: transparent;
    color: #f5f4f5;
    letter-spacing: 2px;
    transition: 1s;
    gap: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ffc736;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.5s;
    letter-spacing: 2px;
}

.buttons button:focus {
    background-color: #ffc736;
    outline: none;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.5s;
    letter-spacing: 2px;
}

.botao-focado {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #f5f4f5;
    background-color: transparent;
    color: #f5f4f5;
    letter-spacing: 2px;
    transition: 1s;
    gap: 10px;
    cursor: pointer;
}

.titulo {
    color: #ffc736;
    font-size: 48px;
}

p {
    font-size: 20px;
    text-align: start;
    font-family: 'satoshi', sans-serif;
    color: #f5f4ef;
    letter-spacing: 1px;
    line-height: 26px;
}

.left-content img {
    width: 350px;
    height: 380px;
    border: #ffc736 solid 2px;
    border-radius: 50px;
}

img {
    background-color: transparent;
    backdrop-filter: blur(4px);
}

h1{
    font-family: 'chromate', sans-serif;
    color: #f5f4ef;
    letter-spacing: 10px;
}

h2{
    font-family: 'avantgarde', sans-serif;
    color: #ffc736;
    font-size: 60px;
}

/* responsividade */

@media screen and (max-width: 500px){
    .left .buttons{
    display: flex;
    gap: 22px;
    position: absolute;
    left: 155px;
    top: 500px;
    flex-direction: column;
    }
    button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #f5f4f5;
    background-color: transparent;
    color: #f5f4f5;
    letter-spacing: 2px;
    transition: 1s;
    gap: 2px;
    cursor: pointer;
    font-size: 12px;
    }
    button:hover {
    background-color: #ffc736;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.5s;
    letter-spacing: 2px;
    }
    .buttons button:focus {
    background-color: #ffc736;
    outline: none;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.5s;
    }
    .left-content img {
        display: none;
    }
    .container-bloco{
        display: flex;
        flex-direction: column;
    }
    p {
        font-size: 12px;
        text-align: justify;
    }
    .left {
        display: flex;
        flex-direction: row;
        border-left: none;
        position: absolute;
        bottom: 50px;
    }
    h1, h2 {
        font-size: 14px;
    }
    .right {
        background-color: transparent;
        border: none;
    }
    .mensagem{
        width: 80vw;
    }
}

/* RESPONSIVIDADE 1280PX */

@media screen and (min-width: 1300px) and (max-width: 1900px){
    p{
        font-size: 16px;
    }
    h1{
        font-size: 38px;
    }
    .titulo{
        font-size: 40px;
    }
  }
