<div class="container-bloco">
    <div class="left">
        <h1>João Paulo</h1>
        <h1>Dourado.</h1>
        <h2>
            <div>Developer</div>
            <div class="message">
              <div class="word1">Front end.</div>
              <div class="word2">Back end.</div>
              <div class="word3">Full Stack.</div>
            </div>
          </h2>
        <br><br><br>
        <div class="buttons">
            <a href="https://docs.google.com/document/d/e/2PACX-1vSOdPin_QA39m9A1ZMdBkKXV8jlY5wUpY79VJqLyfWPJ6b0zRvofLDrH1CrpJQ_4WaQY_ml97TlE4-n/pub" target="_blank"><span>Visualizar CV</span></a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-paulo-dourado-ponce-nery-012951234/" target="_blank"><img src="\assets\img\White icons\linkedin-app-white-icon.png" alt="LinkedIN"></a>
            <a href="https://github.com/kirakman" target="_blank"><img src="\assets\img\White icons\icons8-github-48.png" alt="GitHub"></a>
        </div>
    </div>
    <div class="right">
        <img src="\assets\img\Polygon 1.png" alt="perfil">
    </div>
</div>