* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'satoshi';
    src: url(../src/app/fonts/Satoshi-Regular.otf);
}
@font-face {
    font-family: 'avantgarde';
    src: url(../src/app/fonts/AvantGarde-Bold.otf);
}
@font-face {
    font-family: 'chromate';
    src: url(../src/app/fonts/Chromate-Regular.ttf);
}

h1 {
    font-family: 'chromate', sans-serif;
}

h2 {
    font-family: 'avantgarde', sans-serif;
}

p {
    font-family: 'satoshi', sans-serif;
}

