@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    margin: 0px;
    box-sizing: border-box;
}

  
@font-face {
    font-family: 'satoshi';
    src: url(../src/app/fonts/Satoshi-Regular.otf);
}
@font-face {
    font-family: 'avantgarde';
    src: url(../src/app/fonts/AvantGarde-Bold.otf);
}
@font-face {
    font-family: 'chromate';
    src: url(../src/app/fonts/Chromate-Regular.ttf);
}

h1 {
    font-family: 'chromate', sans-serif;
    color: #f5f4ef;
    letter-spacing: 10px;
}

h2 {
    font-family: 'avantgarde', sans-serif;
    color: #ffc736;
}

p {
    font-family: 'satoshi', sans-serif;
    color: #f5f4ef;
}

span, button {
    font-family: 'avantgarde', sans-serif;
    cursor: pointer;
}
