* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('./app/img/cool-background.png');
    background-size: cover; /* ajusta a imagem para cobrir todo o espaço do elemento */
    /* background-position: center; centraliza a imagem no elemento */
    background-repeat: no-repeat; /* não repete a imagem */
}
